<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546086476310-vos1lhtdm7rnhpjto601u1su5aq57a0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546086476310-vos1lhtdm7rnhpjto601u1su5aq57a0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAoeOw_NLXcMNyqoYa0HQbGqbbvzr92AXU</string>
	<key>GCM_SENDER_ID</key>
	<string>546086476310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collabnepal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>collabnepal-4d549</string>
	<key>STORAGE_BUCKET</key>
	<string>collabnepal-4d549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546086476310:ios:9063db97645bf1f8273337</string>
</dict>
</plist>